<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static '/portfolio/images/logos/ERIK LOPEZ-logo.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'portfolio/style.css' %}">
    <title>Erik Lopez | Software Developer</title>
</head>
<body>
    {% load static %}
    <!--------------------------- HERO ---------------------------------->
    
    <header id="home" class="hero-image">
        <div class="wrapper">
            <div id="menu-btn">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
            <a href="" class="logo"><img src="{% static '/portfolio/images/logos/ERIK LOPEZ-logos_white.png' %}" alt="Logo"></a>
            <nav class="navbar">
                <ul class="nav-links">
                    <li><a class="nav-link icons" href="#home">Home</a></li>
                    <li><a class="nav-link icons" href="#about">About</a></li>
                    <li><a class="nav-link icons" href="#projects">Projects</a></li>
                    <li><a class="nav-link icons" href="#contact">Contact</a></li>
                    <!-- <li><a class="nav-link-resume" href="">Resume</a></li> -->
                </ul>
            </nav>
            <section class="resume-box">
                <!-- <div><a href="https://github.com/eriklopezalfaro" target="blank" class="social-media-icon-1 icon"><img src="{% static 'portfolio/images/github.png' %}" alt="Github"></a></div>
                <div><a href="https://linkedin.com" target="blank" class="social-media-icon-2 icon"><img src="{% static 'portfolio/images/linkedin.png' %}" alt="Linkedin"></a></div> -->
                <a class="nav-link-resume resume" href="">Resume</a>
            </section>
        </div>
        
        <div class="hero-text">
            <h1>I am Erik Lopez</h1>
            <p>And I am a Software Developer</p>
            <div><a href="#Contact" class="button">Hire Me</a></div>
        </div>

        <!-- animation -->
        <div class="intro">
            <div class="intro-text">
                <h1 class="hide">
                    <span class="text">Creating innovation</span>
                </h1>
                <h1 class="hide">
                    <span class="text">For everyday</span>
                </h1>
                <h1 class="hide">
                    <span class="text">people</span>
                </h1>

                
            </div>
        </div>
        <div class="slider"></div>
    </header>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js" integrity="sha512-eP6ippJojIKXKO8EPLtsUMS+/sAGHGo1UN/38swqZa1ypfcD4I0V/ac5G3VzaHfDaklFmQLEs51lhkkVaqg60Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'portfolio/app.js' %}"></script>
    <!-- end animation -->

    {% block content %}{% endblock %}

</body>
</html>