<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'portfolio/images/logos/ERIK LOPEZ-logo.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'portfolio/style.css' %}">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <title>Erik Lopez | Software Developer</title>
</head>
<body>
    {% load static %}
    <!-------------------------------------------------------- HERO -------------------------------------------------------->

    <header id="home" class="hero-image">
        <div class="social-media">
            <div><a href="https://github.com/eriklopezalfaro" target="blank" class="social-media-icon-1 icon"><img src="{% static 'portfolio/images/github.png' %}" alt="Github"></a></div>
            <div><a href="https://www.linkedin.com/in/eriklopezalfaro/" target="blank" class="social-media-icon-2 icon"><img src="{% static 'portfolio/images/linkedin.png' %}" alt="Linkedin"></a></div>
            <div><a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;%65%72%69%6B%6C%6F%70%65%7A%61%6C%66%61%72%6F%40%6F%75%74%6C%6F%6F%6B%2E%63%6F%6D" target="blank" class="social-media-icon-3 icon"><img src="{% static 'portfolio/images/email-64.png' %}" alt="Outlook"></a></div>
        </div>
        <!-------------------------------------------------------- NAV WRAPPER -------------------------------------------------------->
        <div class="wrapper">
            <div id="menu-btn">
                <span class="line one"></span>
                <span class="line two"></span>
                <span class="line three"></span>
            </div>
            <a href="" class="logo"><img src="{% static '/portfolio/images/logos/ERIK LOPEZ-logos_white.png' %}" alt="Logo"></a>
            <nav class="navbar">
                <ul class="nav-links">
                    <li class="li"><a class="nav-link icons .hvr-underline-from-center" href="#home">Home</a></li>
                    <li class="li"><a class="nav-link icons .hvr-underline-from-center" href="#about">About</a></li>
                    <li class="li"><a class="nav-link icons .hvr-underline-from-center" href="#projects">Projects</a></li>
                    <li class="li"><a class="nav-link icons .hvr-underline-from-center" href="#contact">Contact</a></li>
                </ul>
            </nav>
            <section class="resume-box">
                <a class="nav-link-resume resume" href="{% static '/portfolio/Erik_Lopez_Resume.pdf' %}" target="_blank">Resume</a>
            </section>
        </div>
        <!-------------------------------------------------------- HERO CONTENT -------------------------------------------------------->
        <div class="hero-text">
            <p>Hello and Welcome</p>
            <h1>I'm <span class="name">Erik Lopez</span></h1>
            <h3>Software Developer</h3>
            
            <div><a href="#about" class="button">See more</a><a href="#contact" class="button">Contact Me</a></div>
            <div class="social-media-2">
                <div><a href="https://github.com/eriklopezalfaro" target="blank" class="social-media-icon-1 icon"><img src="{% static 'portfolio/images/github.png' %}" alt="Github"></a></div>
                <div><a href="https://www.linkedin.com/in/eriklopezalfaro/" target="blank" class="social-media-icon-2 icon"><img src="{% static 'portfolio/images/linkedin.png' %}" alt="Linkedin"></a></div>
                <div><a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;%65%72%69%6B%6C%6F%70%65%7A%61%6C%66%61%72%6F%40%6F%75%74%6C%6F%6F%6B%2E%63%6F%6D" target="blank" class="social-media-icon-3 icon"><img src="{% static 'portfolio/images/email-64.png' %}" alt="Outlook"></a></div>
            </div>
        </div>
        <!-------------------------------------------------------- LANDING PAGE ANIMATIONS -------------------------------------------------------->
        <div class="intro">
            <div class="intro-text">
                <h1 class="hide">
                    <span class="text logo-img"><img src="{% static '/portfolio/images/logos/ERIK LOPEZ-logos_white.png' %}" alt=""></span>
                </h1>
                <h1 class="hide">
                    <span class="text">Transforming Your Ideas</span>
                </h1>
                <h1 class="hide">
                    <span class="text">into Stunning Websites</span>
                </h1>
                <h1 class="hide">
                    <span class="text">and Software</span>
                </h1>
            </div>
            <!-- <div class="intro-text">
                <h1 class="hide">
                    <span class="text logo-img"><img src="{% static '/portfolio/images/logos/ERIK LOPEZ-logos_white.png' %}" alt=""></span>
                </h1>
                <h1 class="hide">
                    <span class="text">Creating innovation</span>
                </h1>
                <h1 class="hide">
                    <span class="text">and solutions</span>
                </h1>
                <h1 class="hide">
                    <span class="text">for everyone</span>
                </h1>
            </div> -->
        </div>
        <div class="slider"></div>
    </header>
    <!-------------------------------------------------------- END ANIMATION -------------------------------------------------------->

    <!-------------------------------------------------------- BODY DJANGO CONTENT -------------------------------------------------------->
    <div class="body">
    {% block content %}{% endblock %}
    </div>
    <footer>
        <p>&copy; 2023 Erik Lopez-Alfaro</p>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js" integrity="sha512-eP6ippJojIKXKO8EPLtsUMS+/sAGHGo1UN/38swqZa1ypfcD4I0V/ac5G3VzaHfDaklFmQLEs51lhkkVaqg60Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'portfolio/app.js' %}"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>
</html>