<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'portfolio/style.css' %}">
    <title>Erik Lopez</title>
</head>
<body>
    {% load static %}
    <!--------------------------- HERO ---------------------------------->
    
    <header id="home" class="hero-image">
        <div class="wrapper">
            <a href="" class="logo">Erik Lopez<img src="" alt=""></a>
            <nav>
                <ul class="nav-links">
                    <li><a class="nav-link" href="#home">Home</a></li>
                    <li><a class="nav-link" href="#about">About</a></li>
                    <li><a class="nav-link" href="#projects">Projects</a></li>
                    <li><a class="nav-link" href="#contact">Contact</a></li>
                    <li><a class="nav-link-resume" href="">Resume</a></li>
                </ul>
            </nav>
            <section class="social-media">
                <div><a href="" class="social-media-icon-1"><img src="{% static 'portfolio/images/github.png' %}" alt=""></a></div>
                <div><a href="" class="social-media-icon-2"><img src="{% static 'portfolio/images/linkedin.png' %}" alt=""></a></div>
            </section>
        </div>
        <div class="hero-text">
            <h1>I am Erik Lopez</h1>
            <p>And I am a Software Developer</p>
            <a class="button">Hire Me</a>
        </div>

        <!-- animation -->
        <div class="intro">
            <div class="intro-text">
                <h1 class="hide">
                    <span class="text">Creating innovation</span>
                </h1>
                <h1 class="hide">
                    <span class="text">For everyday</span>
                </h1>
                <h1 class="hide">
                    <span class="text">people</span>
                </h1>

                
            </div>
        </div>
        <div class="slider"></div>
    </header>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js" integrity="sha512-eP6ippJojIKXKO8EPLtsUMS+/sAGHGo1UN/38swqZa1ypfcD4I0V/ac5G3VzaHfDaklFmQLEs51lhkkVaqg60Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'portfolio/app.js' %}"></script>
    <!-- end animation -->

    {% block content %}{% endblock %}

</body>
</html>