{% extends 'portfolio/base.html' %}

{% block content %}
{% load static %}
<!-------------------------------------------------------- ABOUT -------------------------------------------------------->
<section id="about" class="About">
    <h2 data-aos="fade-up" data-aos-duration="1000">About Me</h2>
    <div class="content">
        <div class="me" data-aos="fade-up" data-aos-duration="1000">
            <img src="{% static 'portfolio/images/profile2.png' %}" alt="Picture of me">
        </div>
        <div class="bio" data-aos="fade-up" data-aos-duration="1000">
            <p>I'm Erik Lopez and I'm a Full Stack Developer based in Seattle, Washington. I create stylish and modern websites, web services, and software applications using my creative mind and a variety of modern technologies. I'm very passionate about designing and developing websites that brings your ideas to life.</p>
            <br><p>I use my discipline and strong work ethic with a mix of 7+ years of customer service to my advantage in understanding the clients goals and being able to create fast and optimal solutions.</p>
        </div>
    </div>
</section>

<!-------------------------------------------------------- SKILLS -------------------------------------------------------->
<section class="Skills">
    <h2 data-aos="fade-up" data-aos-duration="1000">My Skills</h2>
    <div class="skills-list" data-aos="fade-up" data-aos-duration="1000">
        {% for skill in skills %}
        <div class="skill">
            <div class="skill-cont">
                <img class="image" src="{{ skill.image.url }}" alt="skill">
                <p>{{ skill.title }}</p>
            </div>
            <div class="bar-box">
                <div class="bar" style="width: {{ skill.percentage }}%">
                    <p>{{ skill.percentage }}%</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

<!-------------------------------------------------------- PROJECTS -------------------------------------------------------->
<section id="projects" class="Projects">
    <h2 data-aos="fade-up" data-aos-duration="1000">Projects</h2>
    <div class="project-container">
        {% for project in projects %}
        <div class="project" data-aos="fade-up" data-aos-duration="1000">
            <img class="image" src="{{ project.image.url }}" alt="">
            <div class="project-cont">
                <h3>{{ project.title }}</h3>
                <p>{{ project.description }}</p>
                <p><span class="technologies">Technologies:</span> {{ project.technologies }}</p>
                {% if project.website_url is not None %}
                <a href="{{ project.website_url }}">Visit Website &#10140;</a>
                {% endif %}
                {% if project.website_url is not None %}
                <a href="{{ project.github_repo_url }}">View Github repo &#10140;</a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</section>

<!-------------------------------------------------------- SERVICES -------------------------------------------------------->
<section class="Services">
    <h2 data-aos="fade-up" data-aos-duration="1000">Services</h2>
    <div class="services-list">
        {% for service in services %}
        <div class="service" data-aos="fade-up" data-aos-duration="1000">
            <img class="image" src="{{ service.image.url }}" alt="service">
            <div class="details">
                <h3>{{ service.title }}</h3>
                <p>{{ service.detail }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

<!-------------------------------------------------------- CONTACT -------------------------------------------------------->
<section id="contact" class="Contact" data-aos="fade-up" data-aos-duration="1000">
    <div class="title">
        <h1 class="text">Get In Touch</h1>
        <p>I'm only one click away from helping you bring your ideas to life.</p>
        <p>Let's get started.</p>
    </div>
    <section class="container">
        <div class="contact-info">
            <div class="box">
                <h2 class="heading">Contact</h2>
                <div class="info-box">
                    <div class="info">
                        <span class="img"><img src="{% static 'portfolio/images/call_white.svg' %}" alt=""></span>
                        <span class="text">(206)-898-4561</span>
                    </div>
                    <div class="info">
                        <span class="img"><img src="{% static 'portfolio/images/mail_white.svg' %}" alt=""></span>   
                        <span class="text"><a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;%65%72%69%6B%6C%6F%70%65%7A%61%6C%66%61%72%6F%40%6F%75%74%6C%6F%6F%6B%2E%63%6F%6D" target="blank">eriklopezalfaro@outlook.com</a></span>
                    </div>
                    <div class="info">
                        <span class="img"><img src="{% static 'portfolio/images/linkedin.png' %}" alt=""></span>
                        <span class="text"><a href="https://www.linkedin.com/in/eriklopezalfaro/" target="blank">linkedin.com/eriklopezalfaro</a></span>
                    </div>
                    <div class="info">
                        <span class="img"><img src="{% static 'portfolio/images/github.png' %}" alt=""></span>
                        <span class="text"><a href="https://github.com/eriklopezalfaro" target="blank">github.com/eriklopezalfaro</a></span>
                    </div>
                </div>
            </div>

        </div>
        <div class="contact-form">
            <div class="form">
                <h2 class="text">Message me</h2>
                
                <form action="{% url 'contact' %}" method="post">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="input-data">
                            <input type="text" name="first_name" id="first_name" required>
                            <label for="first_name">First Name</label>
                        </div>

                        <div class="input-data">
                            <input type="text" name="last_name" id="last_name" required>
                            <label for="last_name">Last Name</label>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="input-data">
                            <input type="text" name="email" id="email" required>
                            <label for="email">Email</label>
                        </div>

                        <div class="input-data">
                            <input type="text" name="subject" id="subject" required>
                            <label for="subject">Subject</label>
                        </div>
                    </div>
                    
                    <div class="form-row textarea">
                        <div class="input-data">
                            <textarea cols="30" rows="10" name="message" id="message" required></textarea>
                            <label for="message">Message</label>
                        </div>
                    </div>

                    <div class="form-row submit-btn">                
                        <input type="submit" value="Submit">
                    </div>
                </form>
                
            </div>
        </div>
   </section>
</section>

{% endblock %}