{% extends 'portfolio/base.html' %}

{% block content %}
{% load static %}
<!--------------------------- ABOUT ---------------------------------->
<section id="about" class="About">
    <div class="content">
        <h2>Who am I</h2>
    </div>

</section>
<!--------------------------- PROJECTS ---------------------------------->
<section id="projects" class="Projects">
    <h2>Projects</h2>
    <div class="project-container">
        {% for project in projects %}
        <div class="project">
            <div class="project-cont">
                <img class="image" src="{{ project.image.url }}" alt="">
                <h3>{{ project.title }}</h3>
                <p>{{ project.description }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
<!--------------------------- CONTACT ---------------------------------->
<section id="contact" class="Contact">
   <section class="container">
        <div class="contact-info">
            <div class="box">
                <h2 class="heading">Contact</h2>
                <div class="info">
                    <span class="img"><img src="{% static 'portfolio/images/github.png' %}" alt=""></span>
                    <span>2068984561</span>
                </div>
                <div class="info">
                    <span class="img"><img src="{% static 'portfolio/images/github.png' %}" alt=""></span>
                    <span>eriklopezalfaro<br>@outlook.com</span>
                </div>
            </div>

        </div>
        <div class="contact-form">
            <div class="form">
                <h2 class="heading">Message me</h2>
                <form action="">
                    <label for="">Name:</label><br>
                    <input type="text"><br>

                    <label for="">Subject</label><br>
                    <input type="text"><br>
                    
                    <label for="">Message</label><br>
                    <input type="text"><br>


                </form>
            </div>
        </div>
   </section>
</section>

{% endblock %}