{% extends 'portfolio/base.html' %}

{% block content %}
{% load static %}
<!--------------------------- ABOUT ---------------------------------->
<section id="about" class="About">
    <h2 data-aos="fade-up" data-aos-duration="1000">About Me</h2>
    <div class="content">
        <div class="me" data-aos="fade-up" data-aos-duration="1000">
            <img src="{% static 'portfolio/images/profile2.png' %}" alt="Picture of me">
        </div>
        <div class="bio" data-aos="fade-up" data-aos-duration="1000">
            <p>My name is Erik Lopez. I am a Full Stack Developer based in Seattle, Washington. I create stylish and modern websites, web services, and software applications using a variety of modern technologies. I'm very passionate about designing and developing websites that brings your ideas to life.</p>
        </div>
    </div>
</section>
<section class="Skills">
    <h2 data-aos="fade-up" data-aos-duration="1000">My Skills</h2>
    <div class="skills-list" data-aos="fade-up" data-aos-duration="1000">
        {% for skill in skills %}
        <div class="skill">
            <div class="skill-cont">
                <img class="image" src="{{ skill.image.url }}" alt="skill">
                <p>{{ skill.title }}</p>
            </div>
            <div class="bar-box">
                <div class="bar" style="width: {{ skill.percentage }}%">
                    <p>{{ skill.percentage }}%</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
<!--------------------------- PROJECTS ---------------------------------->
<section id="projects" class="Projects">
    <h2 data-aos="fade-up" data-aos-duration="1000">Projects</h2>
    <div class="project-container">
        {% for project in projects %}
        <div class="project" data-aos="fade-up" data-aos-duration="1000">
            <img class="image" src="{{ project.image.url }}" alt="">
            <div class="project-cont">
                <h3>{{ project.title }}</h3>
                <p><span class="technologies">Technologies:</span> {{ project.description }}</p>
                <a href="{{ project.url }}">View Github repo &#10140;</a>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
<!----------------------------SERVICES------------------------->
<section class="Services">
    <h2 data-aos="fade-up" data-aos-duration="1000">Services</h2>
    <div class="services-list">
        {% for service in services %}
        <div class="service" data-aos="fade-up" data-aos-duration="1000">
            <img class="image" src="{{ service.image.url }}" alt="service">
            <div class="details">
                <h3>{{ service.title }}</h3>
                <p>{{ service.detail }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
<!--------------------------- CONTACT ---------------------------------->
<section id="contact" class="Contact" data-aos="fade-up" data-aos-duration="1000">
   <section class="container">
        <div class="contact-info">
            <div class="box">
                <h2 class="heading">Contact</h2>
                <div class="info-box">
                    <div class="info">
                        <span class="img"><img src="{% static 'portfolio/images/call_white.svg' %}" alt=""></span>
                        <span class="text">(206)-898-4561</span>
                    </div>
                    <div class="info">
                        <span class="img"><img src="{% static 'portfolio/images/mail_white.svg' %}" alt=""></span>
                        <span class="text">eriklopezalfaro@outlook.com</span>
                    </div>
                    <div class="info">
                        <span class="img"><img src="{% static 'portfolio/images/mail_white.svg' %}" alt=""></span>
                        <span class="text">eriklopezalfaro@outlook.com</span>
                    </div>
                    <div class="info">
                        <span class="img"><img src="{% static 'portfolio/images/mail_white.svg' %}" alt=""></span>
                        <span class="text">eriklopezalfaro@outlook.com</span>
                    </div>
                </div>
            </div>

        </div>
        <div class="contact-form">
            <div class="form">
                <h2 class="text">Message me</h2>
                
                <form action="{% url 'contact' %}" method="post">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="input-data">
                            <input type="text" name="first_name" id="first_name" required>
                            <label for="first_name">First Name</label>
                        </div>

                        <div class="input-data">
                            <input type="text" name="last_name" id="last_name" required>
                            <label for="last_name">Last Name</label>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="input-data">
                            <input type="text" name="email" id="email" required>
                            <label for="email">Email</label>
                        </div>

                        <div class="input-data">
                            <input type="text" name="subject" id="subject" required>
                            <label for="subject">Subject</label>
                        </div>
                    </div>
                    
                    <div class="form-row textarea">
                        <div class="input-data">
                            <textarea cols="30" rows="10" name="message" id="message" required></textarea>
                            <label for="message">Message</label>
                        </div>
                    </div>

                    <div class="form-row submit-btn">                
                        <input type="submit" value="Submit">
                    </div>
                </form>
                
            </div>
        </div>
   </section>
</section>

{% endblock %}