<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static '/portfolio/images/logos/ERIK LOPEZ-logo.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'portfolio/style.css' %}">
    <title>Success</title>
</head>
<body>
    {% load static %}
    <div class="intro">
        <div class="intro-text">
            <h1 class="hide">
                <span class="text logo-img"><img src="{% static '/portfolio/images/logos/ERIK LOPEZ-logos_white.png' %}" alt=""></span>
            </h1>
            <center>
                <h2>Thanks {{ success_msg }}!</h2>
                <p>I have recieved your email and will get back to you as soon as I can.</p>
            </center>
        </div>
    </div>
</body>
</html>