/* ---------------------------------------------------- Preset --------------------------------------------------------- */
/* resets, root variables, whole body */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    clear: both
}
:root {
    --primary:  'Poppins', sans-serif;
    --secondary:  'Poppins', sans-serif;
    --buttons: linear-gradient(to bottom right, #360033, #0b8793);
    --secondary-button: linear-gradient(to right, #434343 0%, black 100%);
}
html {
    scroll-behavior: smooth;
}
.hero-image {
    display: -webkit-flex;
    display: flex;
    margin: auto;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-direction: column;
    flex-direction: column;
    height: clamp(34rem, 100vh, 57rem);
    flex-basis: 100vw;
    position: relative;
    box-shadow: 2rem 0 1rem rgba(32, 32, 32, 0.65);
}
/* ---------------------------------------------------- HEADER --------------------------------------------------------- */
.hero-image {
    background-image: linear-gradient(to bottom right,rgba(54, 0, 54, 0.55), rgba(24, 168, 168, 0.50)), url("../portfolio/images/four.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}
.wrapper {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: fixed;
    top: 0;
    background: transparent;
    box-shadow: 0 .5rem 1rem rgba(255, 255, 255, 0.136); 
    z-index: 10;
    transition: background 1.8s ease;
}
.About, .Projects, .contact-container, .Skills, .Services {
    width: min(80vw, 1200px);
}
.wrapper {
    width: 100vw;
    padding: 0 10vw;
}
.hero-text {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 80%;
    font-family: var(--primary);
    justify-content: center;
    align-items: center;
    font-size: x-large;
}
.hero-text .name {
    color: rgba(255, 255, 255, 0.616);
    animation: flicker 1.5s infinite alternate;
}
@keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
        text-shadow:
        0 0 4px #fff,
        0 0 11px #0b8793,
    }
    20%, 24%, 55% {
        text-shadow: 
        0 0 11px #fff,
        0 0 16px #0b8793,
        0 0 21px #0b8793;
    }
}
.hero-text h1, .hero-text p, .hero-text a, .hero-text h3 {
    margin-bottom: 1rem;
    font-family:var(--secondary);
    color: aliceblue;
 }
.hero-text .button {
    color: white;
    padding: 0.4rem 1rem;
    /* transition: .19s; */
    transition: 0.19s;
    text-decoration: none;
    background: var(--buttons);
    border-radius: 2px;
    font-family: var(--primary);
    font-size: 1rem;
    cursor: pointer;
    margin: 1rem;
}
.hero-text div {
    margin-top: 0.7rem;
}
.hero-text .button:hover {
    opacity: 0.75;
}
/* ---------------------------------------------------- NAV --------------------------------------------------------- */
nav {
    flex: 3;
    justify-content: space-between;
    padding: 10px;
}
.logo, .nav-links {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}
.resume-box {
    display: flex;
    flex: 1;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}
/* ---------------------------------------------------- LOGO --------------------------------------------------------- */
.logo {
    flex: 1;
    height: 2rem;
}
.logo img {
    width: auto;
    height: 100%;
    object-fit:scale-down;
}
.logo.scrolled {
    height: 2rem;
}
/* ---------------------------------------------------- HAMBURGER MENU SMALL SCREENS --------------------------------------------------------- */
#menu-btn {
    display: none;
    height: 2rem;
}
#menu-btn span {
    position: absolute;
    display: block;
    height: 0.1rem;
    width: 35px;
    background-color: #fff;
    transform: rotate(0);
    transition: all 200ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
}
span.one {
    bottom: 20px;
}
span.two {
    bottom: 10px;
}
span.three {
    bottom: 0px;
}
#menu-btn.clicked .one {
    transform: translateY(10px) rotate(45deg);
}
#menu-btn.clicked .two {
    opacity: 0;
}    
#menu-btn.clicked .three {
    transform: translateY(-10px) rotate(-45deg);
}
nav .nav-links {
    -webkit-align-items: center;
    -webkit-justify-content: center;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 15px;
}
.nav-link {
    color: black;
    /* padding: 0.7375rem 1.575rem; */
    padding: 0.3rem 0.7rem;
    margin: 0 0.875rem;
    font-family: var(--primary);
    /* font-weight: bold; */
    cursor: pointer;
    text-decoration: none;
    transition: 0.15s;
    color: aliceblue;
}
.nav-links .icons {
    font-size: 1.1rem;
    /* padding: 1rem; */
}
.nav-link:hover {
    /* opacity: 0.85; */
    border-bottom: 3px solid aliceblue;
}
.nav-link-resume {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    color: white;
    background: var(--buttons);
    border-radius: 2px;
    /* padding: 0.4rem 1rem; */
    padding: 0.3rem 0.7rem;
    font-family: var(--primary);
    font-size: 0.9rem;
    cursor: pointer;
    text-decoration: none;
    transition: .19s;
}
.nav-link-resume:hover {
    opacity: 0.85;
}
/* ---------------------------------------------------- NAV SCROLLED EVENT --------------------------------------------------------- */
.wrapper.scrolled {
    background: var(--buttons);
    height: 3.2rem;
    box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.5);
}
.icons.scrolled {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.795);
}
.icon.scrolled {
    height: 1.5rem;
}
.resume.scrolled {
    font-size: 0.9rem;
    height: 50%;
    margin: auto 0 auto 1rem;
    align-items: center;
    background:  var(--secondary-button);

}
/* ---------------------------------------------------- SOCIAL MEDIA --------------------------------------------------------- */
.social-media-2 {
    display: none;
}
.social-media {
    position: fixed;
    top: 43%;
    left: 0;
    width: 3.2rem;
    height: 10.2rem;
    z-index: 500;
    font-family: var(--primary);
    background:  var(--secondary-button);
    border-radius: 0 3px 3px 0;
}
.social-media div {
    display: flex;
    height: 100%;
    width: 100%;
    height: 3.4rem;
    -webkit-align-items: center;
    align-items: center;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    padding: 0.8rem;
    transition: 0.1s ease-in;
    border-radius: 0 3px 3px 0;
}
.social-media div .icon-text {
    display: none;
} 
.social-media div img {
    width: 1.5rem;
    height: 1.5rem;
}
.social-media .icon {
    position: absolute;
    left: 1.5;
    display: flex;
    justify-content: center;
    transition: 0.1s ease-in;
}
.social-media div:hover{
    width: 6rem;
    background:  var(--secondary-button);

}
.social-media div:hover .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 2.8rem;
}
.social-media-icon-1 img, .social-media-icon-2 img {
    width: 100%;
    height: 100%;
    object-fit:scale-down;
    padding-left: 1px;
}
/* ---------------------------------------------------- JS ANIMATION INTRO SLIDES --------------------------------------------------------- */
.intro {
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    z-index: 999;
}
.intro-text {
    font-family: var(--primary);
    width: 70vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    font-size: large;
}
.intro-text .text {
    width: fit-content;
    background: var(--buttons);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.logo-img {
    height: 20vh;
    width: fit-content;
    margin: auto;
}
.success {
    margin-top: 1.5rem;
    color: #fff;
}
.success a, .success span {
    color: #0b8793;
}
.success h1, .success p, .success a {
    margin: 1rem;
}
.logo-img img {
    object-fit: contain;
    height: 100%;
    color: #017BB6;
}
.slider {
    background: linear-gradient(to bottom right, #0b8793, #360033);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transform: translateY(100%);
    z-index: 999;
}
.hide {
    background: black;
    overflow: hidden;
}
.hide span {
    transform: translateY(100%);
    display: inline-block;
}
/* ---------------------------------------------------- ABOUT --------------------------------------------------------- */
.About, .Skills, .Services { 
    display: flex;
    flex-direction: column;
    margin: auto;
    font-family: var(--primary);
    font-size: 1rem;
    min-height: fit-content;
    width: min(80vw, 1000px);
}
.Projects {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    padding: 13px 0;
    margin: 0 auto;
    width: min(80vw, 1000px);
}
.content {
    display: flex;
    flex-wrap: wrap;
    height: max(40vh, 400px);
    margin-bottom: 2rem;
}
.me {
    width: 40%;
    height: 100%;
    padding: 1rem 0;
    font-family: var(--primary);
}
.bio {
    width: 60%;
    padding: 1rem 0 0 3rem;
    font-family: var(--primary);
}
.About h2 {
    justify-content: flex-start;
    margin-top: 7.5%;
    margin-bottom: 1rem;
    width: fit-content;
}
.me img {
    box-shadow: rgba(100, 100, 111, 0.555) 7px 7px 39px 5px;
    object-fit: cover;
    width: 100%;
    height: 100%;
    margin: auto 0;
}
/* ---------------------------------------------------- SKILLS --------------------------------------------------------- */
.Skills h2 {
    justify-content: flex-start;
    width: fit-content;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    margin-top: 7.5%;

}
.skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 2rem;
    margin-bottom: 2rem;
}
.skill {
    width: 45%;
    height: 3.5rem;
    display: flex;
    flex-direction: column;
    color:#000;
    border-radius: 2px;
}
.skill-cont {
    display: flex;
    align-items: center;
    width: fit-content;
    height: 2.9rem;
}
.skill-cont .image {
    height: 2rem;
    object-fit: contain;
    padding: 0.2rem 1rem 0.2rem 0;
}
.skill .bar-box {
    width: 100%;
    text-align: right;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background: rgb(168, 168, 168);
}
.skill .bar p {
    font-size: xx-small;
    color: #fff;
}
.skill .bar {
    height: 0.8rem;
    padding: 0.1rem;
    background: var(--buttons);
}
/* ---------------------------------------------------- SERVICES --------------------------------------------------------- */
.Services h2 {
    justify-content: flex-start;
    margin-bottom: 2rem;
    width: fit-content;
    margin-top: 7.5%;

}
.Services .services-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3rem;
}
.Services .service {
    width: 45%;
    height: 22rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#000;
    border-radius: 2px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background: var(--buttons);
}
.Services .details {
    height: 60%;
    padding: 0 1rem;
    text-align: center;
    background: #fff;
}
.Services .image {
    height: 40%;
    width: 100%;
    object-fit: contain;
    padding: 2rem;
}
.Services .details h3 {
    padding: 1rem 0;
}
/* ---------------------------------------------------- PROJECTS --------------------------------------------------------- */
.Projects h2 {
    margin-bottom: 1rem;
    padding-top: 1rem;
    margin-top: 7.5%;
    font-family: var(--primary);
    width: fit-content;
}
.project-container {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    margin: 1rem 0; 
    flex-wrap: wrap;
    gap: 2.2rem 0;
}
.project {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 20rem;
    border-radius: 2px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: .1s;
    width: 100%;
}
.project-cont {
    background: var(--buttons);
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 45%;
}
.project:hover {
    transform: scale(1.04,1.04);
    z-index: 1;
    box-shadow: 0 0 5rem rgba(255, 254, 254, 0.65);
}
.project .image {
    height: 100%;
    width: 55%;
    object-fit: cover;
}
.project h3, .project p, .project a {
    margin: 1.5rem;
    padding-top: 0.5rem;
    font-family: var(--primary);
    color: aliceblue;
}
.project a {
    color: #0b8793;
}
/* ---------------------------------------------------- CONTACT --------------------------------------------------------- */
.Contact {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    align-items: center;
    height: clamp(44rem, 100vh, 75rem);
}
.Contact .title {
    width: min(80vw, 1000px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 2rem;
    font-family: var(--primary);
}
.Contact .title h1 {
    width: fit-content;
    margin-bottom: 1rem;
    background: var(--buttons);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.Contact .container {
    display: flex;
    width: min(80vw, 1000px);
    height: clamp(30rem, 60vh, 32rem);
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.contact-form, .contact-info {
    display: flex;
    height: 100%;
}
.contact-info .box,.contact-form .form {
    padding: 3rem;
    width: 100%;
    font-family: var(--primary);
    font-size: 1rem;
}
.contact-form {
    width: 100%;
    color: #000;
    background:#fff;
}
.form h2 {
    width: fit-content;
    margin-bottom: 1rem;
    background: var(--buttons);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.form .submit-btn input {
    width: 40%;
    height: 40px;
    position: relative;
    margin: 3rem 0 0 0;
    color: aliceblue;
    background: var(--buttons);
    border-radius: 2px;
    padding: 0.3rem 0.7rem;
    font-family: var(--primary);
    font-size: 0.9rem;
    cursor: pointer;
    text-decoration: none;
    border: none;
}
.form .submit-btn input:hover {
    opacity: 0.9;
}
.form .input-data {
    height: 40px;
    position: relative;
    margin-bottom: 10px;
    width: 100%;
    margin-bottom: 1rem;
}
.form .input-data input,
.form .input-data textarea {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    border-bottom: 2px solid rgb(15, 112, 112);
    padding: auto;
    background: transparent;
    width: 80%;
    outline: none;
    font-family: var(--primary);

}
.form .input-data label {
    position: absolute;
    bottom: 10px;
    pointer-events: none;
    background: var(--buttons);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 0.9rem;
    width: fit-content;
    transition: all 0.3s ease;
}
.form .input-data textarea {
    height: 70px;
    resize: none;
    padding-top: 0.75rem;
}
.form .input-data input:focus ~ label,
.form .input-data textarea:focus ~ label,
.form .input-data input:valid ~ label,
.form .input-data textarea:valid ~ label {
    transform: translateY(-20px);
    font-size: 0.7rem;
}
.contact-info {
    width: 100%;
    color:#fff;
    background: var(--buttons);
}
.contact-info .info {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    margin-top: 1rem;
}
.info .text {
    height: 80%;
}
.info span {
    height: 2.5rem;
    display: flex;
    padding: .4rem .4rem .4rem 0;
    align-items: center;
    font-size: 0.9rem;
}
.info span a {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}
.info span a:hover {
    color: #0b8793;
    /* opacity: 0.6; */
}
.info .img {
    width: 2rem;
    height: 70%;
    margin-right: 1rem;
}
.info .img img {
    width: 100%;
    height: 100%;
}
.container:hover {
    z-index: 0;
}
/* ---------------------------------------------------- FOOTER --------------------------------------------------------- */
footer {
    padding: 1rem 0;
    background-image: linear-gradient(to bottom right,rgba(54, 0, 54, 0.55), rgba(24, 168, 168, 0.50)), url("../portfolio/images/four.jpg");
}
footer p {
    display: flex;
    font-family: var(--primary);
    width: 100vw;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 0.1rem 0;
    color: #fff;
}
.About h2, .Projects h2, .Skills h2, .Services h2, .skill-cont p {
    background: var(--buttons);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.About h2, .Projects h2, .Skills h2, .Services h2 {
    font-size: xx-large;
}
/* ----------------------------------------------------- MEDIA QUERIES ------------------------------------------------------ */
@media only screen 
    and (min-width:768px)
    and (max-width:1000px) {
    .About h2{
        margin-top: 12%;
    }
    .About {
        flex-direction: column;
        height: fit-content;
        /* height: max(40vh, 600px); */
    }
    .hero-image {
        height: 100vh;
    }
    .Contact {
        max-width: 100vw;
        min-height: 100vh;
        height: 78rem; 
    }
    .hero-image, .About, .Projects {
        max-width: 100vw;
    }
    .Contact .container {
        flex-direction: column;
        min-height: max(80%,800px);
        width: 80vw;
    }
    .Contact .title {
        margin-top: 4rem;
    }
    .contact-info,.contact-form {
        width: 100%;
    }
    .Contact .container .form,.Contact .container .box {
        padding: 4rem 5rem;
    }
    .form .input-data input,
    .form .input-data textarea {
        width: 100%;
        margin-bottom: 0rem;
    }
    .info-box, .info-box .info {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
    .info span .text {
        padding-left: 1rem;
    }
    .info span .img {
        display: flex;
        width: 25%;
        align-items: center;
    }
    .contact-info {
        height: 45%;
    }
    .contact-form {
        height: 60%;
    }
    .contact-form form {
        height: 90%;
        width: 100%;
        margin-top: 1rem;
    }
    .contact-info .info-box, .contact-form .form form {
        display: flex;
        flex-direction: column;
    }
    #menu-btn {
        height: 1.6rem;
        margin: auto;
        flex: 1;
        z-index: 10;
        cursor: pointer;
        position: relative;
        display: flex;
        align-items: center;
    }
    .logo {
        flex: 2;
        justify-content: center;
    }
    .logo {
        height: 2.5rem;
    }
    .navbar {
        position: absolute;
        right: -110%;
        top: 0;   
        background: black 100%;
        opacity: 0.85;
    }
    .wrapper {
        opacity: 0.70;
        height: 6rem;
    }
    .wrapper.scrolled {
        height: 4rem;
    }
    .wrapper.active {
        background: black 100%;
        opacity: 0.85; 
        transition: none;
    }
    .navbar.active {
        height: 100vh;
        right: 0;
        width: 100%;
        top: 100%;
    }
    .nav-links {
        height: 100%;
        flex-direction: column;
        margin-top: 0;
    }
    .nav-links li {
        display: flex;
        align-items:flex-start;
        height: 25%;
        margin: 0 1rem 1rem 1rem;
    }
    .nav-links .icons {
        font-size: xx-large;
    }
}
@media only screen 
    and (min-width:320px)
    and (max-width:768px) {
        .About, .Projects, .Contact .container, .Skills, .Services {
            width: 90vw;
        }
        .social-media {
            display: none;
        }
        .intro-text .text{
            font-size: 1.5rem;
        }
        .hero-text > div {
            margin:1.5rem 0;
        }
        .hero-text .button {
            margin: 0.5rem;
        }
        .social-media-2 {
            margin-bottom: 1rem;
            display: flex;
            height: 3.2rem;
            width: 55%;
            max-width: 15rem;
            align-items: center;
            background: transparent;
            border-radius: 2px;
            box-shadow: 0 0rem 1rem rgba(255, 255, 255, 0.136);
        }
        .social-media-2 div {
            width: 33%;
            height: 100%;
            padding: 0.7rem;
            margin-top: 0;
        }
        .social-media-2 div:hover {
            display: flex;
            -webkit-align-items: center;
            align-items: center;
            justify-content: center;
            -webkit-justify-content: center;
            transition: 0.1s ease-in;
            background: transparent;
        }
        .social-media-2 div:hover .icon {
            display: flex;
            -webkit-align-items: center;
            align-items: center;
            justify-content: center;
            -webkit-justify-content: center;
            transition: 0.1s ease-in;
            background: transparent;
            padding-left: 0;
        }
        .social-media-2 div img {
            display: flex;
            width: 1.8rem;
            height: 1.8rem;
            align-items: center;
            justify-content: center;
            padding: auto;
            margin: auto;
        }
        .social-media-2 .social-media-icon-1 .icon,.social-media-2 .social-media-icon-2 .icon {
            padding: auto;
            margin: auto;
            display: flex;
            width: 1.5rem;
            height: 1.5rem;
            align-items: center;
            justify-content: center;
        }
        #menu-btn {
            height: 1.6rem;
            margin: auto;
            flex: 1;
            z-index: 10;
            cursor: pointer;
            position: relative;
            display: flex;
            align-items: center;
        }
        .logo {
            flex: 2;
            justify-content: center;
        }
        .logo {
            height: 2.5rem;
        }
        .navbar {
            position: absolute;
            right: -110%;
            top: 0;   
            background: black 100%;
            opacity: 0.85;
        }
        .wrapper {
            opacity: 0.70;
            height: 6rem;
            padding: 1rem;
        }
        .wrapper.scrolled {
            height: 4rem;
        }
        .wrapper.active {
            background: black 100%;
            opacity: 0.85; 
            transition: none;
        }
        .resume {
            margin: auto 0 auto 1rem;
        }
        .logo {
            height: 2rem;
        }
        .navbar.active {
            height: 100vh;
            right: 0;
            width: 100%;
            top: 100%;
        }
        .nav-links {
            height: 100%;
            flex-direction: column;
            margin-top: 0;
        }
        .nav-links li {
            display: flex;
            align-items:flex-start;
            height: 25%;
            margin: 0 1rem 1rem 1rem;
        }
        .nav-links .icons {
            font-size: xx-large;
        }
        .Contact {
            max-width: 100vw;
            min-height: 100vh;
            height: 70rem; 
        }
        .hero-image, .About, .Projects {
            max-width: 100vw;
        }
        .Contact .container {
            flex-direction: column;
            min-height: max(70%,800px);
        }
        .Contact .title {
            width: 90vw;
        }
        .contact-info,.contact-form {
            width: 100%;
        }
        .form .input-data input,
        .form .input-data textarea {
            width: 100%;
            margin-bottom: 0rem;
        }
        .info-box, .info-box .info {
            display: flex;
            flex-direction: row;
            align-items: flex-start;     
        }
        .info span .text {
            padding-left: 1rem;
        }
        .info span .img {
            display: flex;
            width: 25%;
            align-items: center;
        }
        .contact-info {
            height: 45%;
        }
        .contact-form {
            height: 60%;
        }
        .contact-form form {
            height: 90%;
            width: 100%;
            margin-top: 1rem;
        }
        .contact-info .info-box, .contact-form .form form{
            display: flex;
            flex-direction: column;
        }
        .intro-text, .hero-text {
            font-size: small;
        }
        .hero-text h1 {
            font-size: 3rem;
            text-align: center;
        }
        .hero-text p, .hero-text h3 {
            font-size: 1.2rem;
            text-align: center;
        }
        .logo-img {
            height: 10vh;
        }
        .content {
            flex-direction: column;
            /* height: max(60vh, 650px); */
            height: fit-content;
        }
        .me, .bio {
            width: 100%;
        }
        .me {
            max-height: 400px;
        }
        .me img {
            max-height: calc(400px - 1rem);
        }
        .bio {
            height: fit-content;
            padding: 1rem 0;
        }
        .skill {
            width: 100%;
        }
        .project {
            flex-direction: column;
            height: 36rem;
        }
        .project-cont, .project .image {
            width: 100%;
        }
        .project .image {
            height: 55%;
        }
        .project-cont {
            height: 45%;
        }
        .project h3, .project p, .project a {
            margin: 1rem;
        }
        .Services .service {
            width: 100%;
        }
        .Contact .container .form,.Contact .container .box {
            padding: 1.5rem;
        }
        .form .input-data input,
        .form .input-data textarea {
            width: 100%;
        }
}