/* ---------------------------------------------------- Preset --------------------------------------------------------- */
/* resets, root variables, whole body */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    clear: both
}
:root {
    --primary:  'Poppins', sans-serif;
    --secondary:  'Poppins', sans-serif;
    /* --buttons: linear-gradient(to left, #870000, #190a05); */
    /* --buttons: linear-gradient(to top, #360033, #0b8793); */
    --buttons: linear-gradient(to bottom right, #360033, #0b8793);
}
html {
    scroll-behavior: smooth;
}
/* .Projects,  */
.hero-image{
    display: -webkit-flex;
    display: flex;
    margin: auto;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-direction: column;
    flex-direction: column;
    height: clamp(34rem, 100vh, 57rem);
    flex-basis: 100vw;
    position: relative;
}
/* ---------------------------------------------------- HEADER --------------------------------------------------------- */
.hero-image {
    /* background-image: linear-gradient(to bottom right,rgba(14, 12, 12, 0.35), rgba(0, 0, 0, 0.35)), url("../portfolio/images/bg.jpg"); */
    background-image: linear-gradient(to bottom right,rgba(54, 0, 54, 0.35), rgba(24, 168, 168, 0.35)), url("../portfolio/images/bg.jpg");
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../portfolio/images/bg.jpg"); */
    /* background: linear-gradient(to bottom right, #0b8793, #360033); */
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}
.wrapper {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: fixed;
    top: 0;
    background: transparent;
    box-shadow: 0 .5rem 1rem rgba(255, 255, 255, 0.136);
    z-index: 1;
    transition: background 1.8s ease;
}
.About, .Projects, .contact-container, .Skills, .Services{
    width: min(80vw, 1200px);
}
.wrapper {
    width: 100vw;
    padding: 0 10vw;
}
.hero-text {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 80%;
    font-family: var(--primary);
    justify-content: center;
    align-items: flex-end;
}
/* ------------------------------------------------------- NAV ------------------------------------------------------- */
nav {
    flex: 3;
    justify-content: space-between;
    padding: 10px;
}
.logo, .nav-links {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}
.resume-box{
    display: flex;
    flex: 1;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}
/* ------------------------------------------------------ Logo --------------------------------------------------- */
.logo {
    flex: 1;
    height: 2rem;
}
.logo img {
    width: auto;
    height: 100%;
    object-fit:scale-down;
}
.logo.scrolled {
    height: 2rem;
}
/* ---------------------------------------------------- Nav links ------------------------------------------------- */
#menu-btn{
    display: none;
}
#menu-btn .line{
    width: 1.8rem;
    height: 0.2rem;
    background-color: rgb(255, 255, 255);
    margin-top: 0.4rem;
}
nav .nav-links {
    -webkit-align-items: center;
    -webkit-justify-content: center;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 15px;
}
.nav-link {
    color: black;
    padding: 0.7375rem 1.575rem;
    font-family: var(--primary);
    cursor: pointer;
    text-decoration: none;
    transition: 0.15s;
    color: aliceblue;
}
.nav-links .icons{
    font-size: 1.1rem;
    padding: 1rem;
}
.nav-link:hover {
    opacity: 0.67;
}
.nav-link-resume{
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    color: white;
    background: var(--buttons);
    border-radius: 2px;
    /* padding: 0.4rem 1rem; */
    padding: 0.3rem 0.7rem;
    font-family: var(--primary);
    font-size: 0.9rem;
    cursor: pointer;
    text-decoration: none;
    transition: .19s;
}
.nav-link-resume:hover {
    opacity: 0.67;
}
/* --------------------------------- Nav scrolled events ------------------------------- */
.wrapper.scrolled {
    background: var(--buttons);
    height: 3.2rem;
    box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.5);
}
.icons.scrolled {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.795);
}
.icon.scrolled {
    height: 1.5rem;
}
.resume.scrolled {
    font-size: 0.9rem;
    height: 50%;
    margin: auto 0 auto 1rem;
    align-items: center;
    background:  linear-gradient(to right, #434343 0%, black 100%);

}
/* --------------------------------- Socail Medias ------------------------------- */
.social-media {
    position: fixed;
    top: 42%;
    left: 0;
    width: 2.7rem;
    height: 9rem;
    z-index: 500;
    font-family: var(--primary);
    background: var(--buttons);
}
.social-media div {
    display: flex;
    height: 100%;
    width: 100%;
    height: 3rem;
    -webkit-align-items: center;
    align-items: center;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    padding: 0.7rem;
    transition: 0.1s ease-in;
} 
.social-media div .icon-text{
    display: none;
} 
.social-media div img{
    width: 1.3rem;
    height: 1.3rem;
}
.social-media .icon {
    position: absolute;
    left: 1;
    display: flex;
    justify-content: center;
}
.social-media div:hover{
    opacity: 0.9;
    width: 6.5rem;
    background: var(--buttons);

}
.social-media div:hover .icon-text{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1.85rem;
    color: #fff;
    font-size: 0.7rem;
    text-decoration: none;
    text-transform: uppercase;
}
.social-media div:nth-child(1){
    border-radius: 0 2px 0 0;
}
/* .social-media div:nth-child(2){
    background: #0966C2;
    background: #184EA6;
    background: #017BB6;
} */
.social-media div:nth-child(3){
    border-radius: 0 0 2px 0;
}
.social-media-icon-1 img, .social-media-icon-2 img {
    width: 100%;
    height: 100%;
    object-fit:scale-down;
    padding-left: 1px;
}
/* ---------------------------------------------------------- HERO TEXT ----------------------------------------------------- */
.hero-text h1, .hero-text p, .hero-text a, .hero-text h3 {
    margin-bottom: 1rem;
    font-family:var(--secondary);
    color: aliceblue;
 }
.hero-text .button {
    color: white;
    padding: 0.4rem 1rem;
    transition: 0.15s;
    text-decoration: none;
    background: var(--buttons);
    border-radius: 2px;
    font-family: var(--primary);
    font-size: 1rem;
    cursor: pointer;
    margin: 1rem 1rem 0 0;
}
.hero-text div {
    margin-top: 0.7rem;
}
.hero-text .button:hover {
    opacity: 0.8;
}
/* ------------------------------------------------------------ JS Animation ----------------------------------------------------- */
.intro {
    background: black;
    /* background: linear-gradient(to bottom right, #0b8793, #360033); */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    z-index: 999;
}
.intro-text {
    /* color: rgba(177, 165, 184, 0.925); */
    font-family: var(--primary);
}
.intro-text .text {
    width: fit-content;
    background: var(--buttons);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.logo-img{
    height: 20vh;
    width: fit-content;
    margin: auto;
}
center {
    margin-top: 1.5rem;
}
center a {
    color: #0b8793;
}
center h2 {
    margin-bottom: 1.5rem;
}
.logo-img img {
    object-fit: contain;
    height: 100%;
    color: #017BB6;
}
.slider {
    /* background: var(--buttons); */
    background: linear-gradient(to bottom right, #0b8793, #360033);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transform: translateY(100%);
    z-index: 999;
}
.hide {
    background: black;
    overflow: hidden;
}
.hide span {
    transform: translateY(100%);
    display: inline-block;
}
/* ------------------------------------------------------------ ABOUT ----------------------------------------------------- */
.About, .Skills, .Services { 
    display: flex;
    flex-direction: column;
    margin: auto;
    /* padding: 13px; */
    font-family: var(--primary);
    font-size: 1rem;
    min-height: fit-content;
}
.content {
    display: flex;
    flex-wrap: wrap;
    height: max(30vh, 300px);
    margin-bottom: 2rem;
}
.me, .bio {
    width: 50%;
    padding: 1rem 0;
    font-family: var(--primary);
}
.About h2 {
    justify-content: flex-start;
    margin-top: 7.5%;
    margin-bottom: 1rem;
    width: fit-content;
}
.me img {
    width: 85%;
    height: 85%;
    margin: auto 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* ---------------------------------------------------------- SKILLS --------------------------------------------------- */
.Skills h2 {
    justify-content: flex-start;
    width: 100%;
    padding-bottom: 0.5rem;
}
.skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 2rem;
    margin-bottom: 2rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 1.5rem;
}
.skill {
    width: 15rem;
    height: 3rem;
    padding: 0.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* background: var(--buttons); */
    background:  linear-gradient(to right, #434343 0%, black 100%);
    color: #fff;
    border-radius: 2px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.skill-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    text-align: center;
}
.skill-cont .image {
    height: 2rem;
    object-fit: contain;
    padding: 0 1rem;

}
/* ---------------------------------------------------------- SERVICES --------------------------------------------------- */
.Services h2 {
    justify-content: flex-start;
    margin-bottom: 1.5rem;
    width: fit-content;
}
.Services .services-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 3rem;
}
.Services .service {
    width: 16rem;
    /* width: 28%; */
    height: 19rem;
    /* margin: 0.5rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#000;
    border-radius: 2px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background: var(--buttons);
}
.Services .details {
    height: 60%;
    padding: 0 1rem;
    text-align: center;
    background: #fff;

}
.Services .image {
    height: 40%;
    width: 100%;
    object-fit: contain;
    padding: 2rem;
    /* z-index: 99; */
}
.Services .details h3 {
    padding: 1rem 0;
}
/* ---------------------------------------------------------- PROJECTS --------------------------------------------------- */
/* .project-container::-webkit-scrollbar {
    height: 0.65em;
    padding: 2rem;
    margin: 1rem;
}
.project-container::-webkit-scrollbar-track {
    background:linear-gradient(rgb(255, 255, 255),rgb(0, 0, 0));
    border-radius: 100vh;
    margin-block: 0.5em;
}
.project-container::-webkit-scrollbar-thumb {
    background: var(--buttons);
    border-radius: 100vh;
} */

.Projects {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    padding: 13px 0;
    margin: 10px auto;
}
.Projects h2 {
    margin: 1rem 0;
    padding: 1rem 0;
    margin-top: 7.5%;
    font-family: var(--primary);
}
.project-container {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    padding: 10px 0;
    margin: 1rem 0; 
    flex-wrap: wrap;
    gap: 2.2rem 0;
}
.project {
    position: relative;
    /* background:  linear-gradient(to right, #242424 0%, black 100%); */
    background: var(--buttons);
    height: 25rem;
    box-shadow: -1rem 0 2.5rem rgba(255, 254, 254, 0.65);
    transition: .1s;
    width: 33%;
}
.project-cont {
    height: 100%;
    width: 100%;
}
.project:hover {
    /* transform: translateY(-1rem); */
    transform: translate(-1rem, -1.5rem);
}
/* .project:hover~.project {
    transform: translateX(110px); 
}
.project:not(:first-child){
    margin-left: -100px;
} */
.project .image {
    height: 60%;
    width: 100%;
    object-fit: cover;
}
.project h3, .project p, .project a {
    margin: 0 1rem;
    padding-top: 1rem;
    font-family: var(--primary);
    color: aliceblue;
}
.project a {
    color: #0b8793;
}
/* ------------------------------------------------------------- CONTACT ------------------------------------------------ */
.Contact {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: clamp(34rem, 100vh, 57rem);
}
.Contact .container {
    display: flex;
    width: min(80vw, 1000px);
    height: clamp(30rem, 60vh, 32rem);
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
}
.contact-form, .contact-info {
    display: flex;
    height: 100%;
}
.contact-info .box,.contact-form .form{
    padding: 3rem;
    width: 100%;
    font-family: var(--primary);
    font-size: 1rem;
}
.contact-form {
    width: 100%;
    color: #000;
    background: rgba(236, 236, 236, 0.85);
}
.form h2 {
    width: fit-content;
    margin-bottom: 1rem;
    background: var(--buttons);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.form .submit-btn input{
    width: 40%;
    height: 40px;
    position: relative;
    margin: 3rem 0 0 0;
    color: aliceblue;
    background: var(--buttons);
    border-radius: 2px;
    padding: 0.3rem 0.7rem;
    font-family: var(--primary);
    font-size: 0.9rem;
    cursor: pointer;
    text-decoration: none;
    border: none;
}
.form .input-data{
    height: 40px;
    position: relative;
    margin-bottom: 10px;
    width: 100%;
    margin-bottom: 1rem;
}
.form .input-data input,
.form .input-data textarea {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    border-bottom: 2px solid rgb(15, 112, 112);
    padding: auto;
    background: transparent;
    width: 80%;
    outline: none;
}
.form .input-data label{
    position: absolute;
    bottom: 10px;
    pointer-events: none;
    background: var(--buttons);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 0.9rem;
    width: fit-content;
    transition: all 0.3s ease;
}
.form .input-data textarea {
    height: 70px;
    resize: none;
    padding-top: 0.75rem;
}
.form .input-data input:focus ~ label,
.form .input-data textarea:focus ~ label {
    transform: translateY(-20px);
    font-size: 0.7rem;
}
.contact-info {
    width: 100%;
    color: rgba(236, 236, 236, 0.85);
    background: var(--buttons);
}
.contact-info .info {
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 1rem;
}
.info .text {
    height: 80%;
}
.info span {
    height: 2.5rem;
    display: flex;
    padding: .2rem;
    align-items: center;
    font-size: 0.9rem;
}
.info .img{
    width: 2rem;
    height: 70%;
    margin-right: 1rem;
}
.info .img img{
    width: 100%;
    height: 100%;
}
.container:hover {
    /* transform: scale(1.04,1.04); */
    z-index: 0;
}
/* ----------------------------------------------------- FOOTER ------------------------------------------------------ */
footer {
    padding: 1rem 0;
}
footer p {
    display: flex;
    font-family: var(--primary);
    width: 100vw;
    justify-content: center;
    align-items: center;
    padding: 0.1rem 0;
}
/* ----------------------------------------------------- MEDIA QUERIES ------------------------------------------------------ */
/* need to take away hover event and change flex direction for mobile */
/* 730x500 */
@media screen and (max-width:778px) {
    .icon {
        object-fit:cover;
    }
    .Contact {
        max-width: 100vw;
        min-height: 100vh;
        height: 60rem;
    }
    .hero-image, .About, .Projects{
        max-width: 100vw;
    }
    .Contact .container{
        flex-direction: column;
        min-height: max(80%,800px);
        margin-top: 3rem;
    }
    .contact-info,.contact-form {
        width: 100%;
    }
    .contact-form input {
        margin-bottom: 0rem;
    }
    .info-box, .info-box .info{
        display: flex;
        align-items: center;
    }
    .info span .text{
        padding-left: 1rem;
    }
    .info span .img {
        display: flex;
        width: 25%;
        align-items: center;
    }
    .form input {
        width: 100%;
    }
    .contact-info {
        height: 45%;
    }
    .contact-form {
        height: 60%;
    }
    .contact-form form {
        height: 90%;
        width: 100%;
        margin-top: 1rem;
    }
    .contact-info .info-box, .contact-form .form form{
        display: flex;
        flex-direction: column;
    }
    #menu-btn {
        display: flex;
        flex: 1;
        flex-direction: column;
    }
    .logo {
        flex: 2;
        justify-content: center;

    }
    .logo, #menu-btn {
        height: 2.5rem;
    }
    .navbar {
        position: absolute;
        right: -110%;
        top: 0;   
    }
    .wrapper {
        opacity: 0.95;
        height: 4rem;
    }
    .navbar.active {
        right: 0;
        width: 100%;
        top: 100%;
        background: black 100%;
        opacity: 0.95;
    }
    .nav-links{
        flex-direction: column;
    }
    .nav-links li {
        margin-bottom: 1rem;
    }
    .hero-image, .About, .Projects, .Contact, .wrapper {
        min-width: 500px;
    }
}
/* ----------------------------------- HEADER ----------------------------------- */
