/* ---------------------------------------------------- Preset --------------------------------------------------------- */
/* resets, root variables, whole body */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    clear: both
}
:root {
    --primary:  'Poppins', sans-serif;
    --secondary:  'Poppins', sans-serif;
    /* --buttons: linear-gradient(to left, #870000, #190a05); */
    /* --buttons: linear-gradient(to top, #360033, #0b8793); */
    --buttons: linear-gradient(to bottom right, #360033, #0b8793);
}
html {
    scroll-behavior: smooth;
}
.hero-image, .About, .Projects, .Contact {
    display: -webkit-flex;
    display: flex;
    margin: auto;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-direction: column;
    flex-direction: column;
    height: 100vh;
    min-height: 31rem;
    flex-basis: 100vw;
    position: relative;
}

/* ---------------------------------------------------- HEADER --------------------------------------------------------- */
/* body::-webkit-scrollbar {
    display: none;
} */
.hero-image {
    background-image: linear-gradient(rgba(54, 0, 54, 0.35), rgba(24, 168, 168, 0.35)), url("../portfolio/images/bg.jpg");
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../portfolio/images/bg.jpg"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;

    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}
.wrapper {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: fixed;
    top: 0;
    background: transparent;
    box-shadow: 0 .5rem 1rem rgba(255, 255, 255, 0.136);
    z-index: 1;
    transition: background 1.8s ease;
}
.hero-text, .About, .Projects, .contact-info, .contact-container {
    width: 80vw;
}
.wrapper {
    width: 100vw;
    padding: 0 10vw;
}
.hero-text {
    height: 90%;
    width: 80%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-30%);
    /* color: var(--buttons); gradients dont work here use clip */
    font-family: var(--primary);
    align-items: center;
}
/* ------------------------------------------------------- NAV ------------------------------------------------------- */
nav {
    flex: 3;
    justify-content: space-between;
    padding: 10px;
}
.logo, .nav-links {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}
/* --------------------------------- Logo ------------------------------- */
.resume-box{
    display: flex;
    flex: 1;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

.logo {
    flex: 1;
    height: 2rem;
}
.logo img {
    width: auto;
    height: 100%;
    object-fit:scale-down;
}
.logo.scrolled {
    height: 2rem;
}
/* --------------------------------- Nav links ------------------------------- */
#menu-btn{
    display: none;
}
#menu-btn .line{
    width: 1.8rem;
    height: 0.2rem;
    background-color: rgb(255, 255, 255);
    margin: 0.4rem 0;
}
nav .nav-links {
    -webkit-align-items: center;
    -webkit-justify-content: center;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 15px;
}
.nav-link {
    color: black;
    padding: 0.7375rem 1.575rem;
    font-family: var(--primary);
    font-size: 1.125rem;
    cursor: pointer;
    text-decoration: none;
    transition: 0.15s;
    color: aliceblue;

}
.nav-links .icons{
    font-size: 1rem;
    padding: 1rem;
}
.nav-link:hover {
    opacity: 0.67;
}
.wrapper.scrolled {
    background: var(--buttons);
    height: 3.2rem;
    box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.5);
}
.icons.scrolled {
    font-size: 1.1rem;
    color: rgba(255, 255, 255, 0.795);
}
.icon.scrolled {
    height: 1.5rem;
}
.resume.scrolled {
    font-size: 0.9rem;
    height: 50%;
    margin: auto 0 auto 1rem;
    align-items: center;

    background:  linear-gradient(to right, #434343 0%, black 100%);

}
/* --------------------------------- Socail Medias ------------------------------- */
/* make absolute to float to the right */
.social-media {
    position: fixed;
    top: 35%;
    left: 0;
    width: 2.7rem;
    height: 3rem;
    z-index: 500;
    font-family: var(--primary);
}
.social-media div {
    display: flex;
    height: 100%;
    background: #040D21;
    width: 100%;
    -webkit-align-items: center;
    align-items: center;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    padding: 0.7rem;
    transition: 0.1s ease-in;
    /* border-bottom: ; */
} 
.social-media div .icon-text{
    /* transition: 0.2s linear; */
    display: none;
} 
.social-media div img{
    width: 1.3rem;
    height: 1.3rem;
}
.social-media .icon {
    position: absolute;
    left: 1;
    display: flex;
    justify-content: center;
    
}
.social-media div:hover{
    opacity: 0.8;
    width: 6.5rem;
}
.social-media div:hover .icon-text{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1.85rem;
    color: #fff;
    font-size: 0.7rem;
    text-decoration: none;
    text-transform: uppercase;
}
.social-media div:nth-child(1){
    border-radius: 0 2px 0 0;
}
.social-media div:nth-child(2){
    /* background: #0966C2; */
    /* background: #184EA6; */
    background: #017BB6;
}
.social-media div:nth-child(3){
    border-radius: 0 0 2px 0;
    background: #016BAF;
}
.nav-link-resume{
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    color: white;
    background: var(--buttons);
    border-radius: 2px;
    padding: 0.4rem 1rem;
    font-family: var(--primary);
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    transition: .19s;
}
.nav-link-resume:hover {
    opacity: 0.67;
}
.social-media-icon-1 img, .social-media-icon-2 img {
    width: 100%;
    height: 100%;
    object-fit:scale-down;
    padding-left: 1px;
}
/* ---------------------------------------------------------- HERO TEXT ----------------------------------------------------- */
.hero-text h1, .hero-text p, .hero-text div {

    padding: 15px;
    margin: 15px;
    font-family:var(--secondary);
    color: aliceblue;
 }
.hero-text .button {
    color: white;
    padding: 0.4rem 1rem;
    transition: 0.15s;
    text-decoration: none;
    background: var(--buttons);
    border-radius: 2px;
    font-family: var(--primary);
    font-size: 1rem;
    cursor: pointer;
}
.hero-text .button:hover {
    opacity: 0.8;
}
/* ------------------------------------------------------------ JS Animation ----------------------------------------------------- */
.intro {
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;

    z-index: 999;
}
.intro-text {
    /* color: var(--buttons); */
    color: rgba(75, 0, 119, 0.925);
    font-family: var(--primary);
    font-size: 3 rem;

}

.slider {
    background: var(--buttons);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    transform: translateY(100%);
    z-index: 999;
}

.hide {
    background: black;
    overflow: hidden;
}
.hide span {
    transform: translateY(100%);
    display: inline-block;

}
/* ------------------------------------------------------------ ABOUT ----------------------------------------------------- */
.About {
    
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;

    padding: 13px;
    font-family: var(--primary);
    font-size: 1rem;
}
.content {
    margin-top: 7.5%;
}
.About h2 {
    margin: 5px;
    padding: 10px;
}
/* ---------------------------------------------------------- PROJECTS --------------------------------------------------- */

/* fix: the content button when resized small overflows */

.project-container::-webkit-scrollbar {
    height: 0.65em;
    padding: 2rem;
    margin: 1rem;
}
.project-container::-webkit-scrollbar-track {
    background:linear-gradient(rgb(255, 255, 255),rgb(0, 0, 0));
    border-radius: 100vh;
    margin-block: 0.5em;
}
.project-container::-webkit-scrollbar-thumb {
    background: var(--buttons);
    /* border: .5em solid linear-gradient(white,silver); */
    border-radius: 100vh;
}

.Projects {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    /* background-color: linear-gradient(white,gray); */
    padding: 13px 0;
    margin: 10px auto;
    font-family:'Nunito', sans-serif;
    font-weight: 600;
    font-style: italic;
    min-height: 33rem;
}
.Projects h2 {
    margin: 5px;
    padding: 5px;
    margin-top: 7.5%;
    
}

.project-container {
    display: -webkit-flex;
    display: flex;
    width: 95%;
    padding: 10px 0;
    margin: 10px auto; 
    overflow: auto;
    min-height: 24rem;
    height: 400px;

    
}
.project {
    position: relative;
    background-color: rgb(0, 0, 0);
    margin: auto auto 20px auto;
    height: auto;

    background: #000;
    box-shadow: -2rem 0 2.5rem rgba(255, 254, 254, 0.65);
    transition: .1s;
}
.project:hover {
    transform: translateY(-1rem);
}
.project:hover~.project {
    transform: translateX(110px);
}
.project:not(:first-child){
    margin-left: -100px;
}
.project .image {
    width: 350px; 
    height: 240px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;

}
.project h3, .project p {
    margin: 5px;
    padding: 10px;
    font-family:'Nunito', sans-serif;
    font-weight: 600;
    font-style: italic;
    color: aliceblue;
}
/* ------------------------------------------------------------- CONTACT ------------------------------------------------ */
.Contact {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    justify-content: center;
    margin: auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../portfolio/images/snazzy-image\ \(1\).png");
    /* background-image: linear-gradient(rgba(54, 0, 54, 0.95), rgba(24, 168, 168, 0.95)); */    
}
.Contact .container {
    display: flex;
    min-height: 20rem;
    height: 65vh;
    width: 80vw;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    margin-top: 4%;
    box-shadow: 0rem 0rem 0.8rem 0.8rem rgba(0, 0, 0, 0.616);
}
.contact-form, .contact-info {
    display: flex;
    height: 100%;

}
.contact-info .box,.contact-form .form{
    display: flex;
    padding: 1rem 2rem;
    flex-direction: column; 
    align-items:flex-start;
    height: 100%;
    width: 100%;
    font-family: var(--primary);
    font-size: 1rem;
    /* this is for media-query */
    /* margin-top: 10rem; */
}
.contact-form {
    width: 100%;
    color: #000;
    background: rgba(236, 236, 236, 0.85);
}
.contact-form .form form{
    padding: 0.5rem;
    font-size: 1rem;
    width: 100%;
}
.contact-form input {
    border: none;
    border-bottom: 2px solid black;
    padding: auto;
    height: 1rem;
    margin-bottom: 1rem;
    background: transparent;
    width: 80%;

}
.contact-form label{
    background: var(--buttons);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 0.9rem;

}
.contact-info {
    width: 40%;
    color: rgba(236, 236, 236, 0.85);
    background: var(--buttons);
}
.contact-info .info {
    display: flex;
    /* margin-top: 1rem; */
    width: 100%;
    flex-direction: column;
}
.contact-info .info:nth-child(1) {
    margin-top: 1rem;
}
.info .text {
    width: 100%;
    /* height: ; */
}
.info span {
    height: 2.5rem;
    display: flex;
    padding: .2rem;
    align-items: center;
    width: 60%;
    font-size: 0.9rem;
}
.info .img{
    padding: 1rem 1rem 0rem 0;
    width: 3rem;
    height: 100%;
    margin-right: 1rem;
}
.info .img img{
    width: 100%;
    height: 100%;
}
.container:hover {
    /* transform: scale(1.04,1.04); */
    z-index: 0;
}
/* neeed to take away hover event and change flex direction for mobile */
/* 730x500 */
@media screen and (max-width:778px) {
    /* @media (min-width:730px) { */
    html {
        font-size: 0.85rem;
    }
    .icon {
        object-fit:cover;
    }
    .Contact {
        max-width: 100vw;
        min-height: 100vh;

    }
    .hero-image, .About, .Projects {
        max-width: 100vw;
    }
    .Contact .container{
        flex-direction: column;
        width: 65%;
        min-height: 80%;
        margin-top: 3rem;
    }
    .contact-info,.contact-form {
        /* min-width: 24rem; */
        width: 100%;
        font-size: 0.5rem;
        /* min-height: 50%; */
        padding-top: 1.4rem;
    
    }
    .contact-form input {
        margin-bottom: 0rem;
    }
    .info-box, .info-box .info{
        width: 100%;
        display: flex;
        /* flex-wrap: wrap; */
        flex-direction: column;
        /* margin-top: 1rem; */
    }
    .info span .text{
        width: 100%;
        padding-left: 1rem;
        /* overflow: hidden; */
    }
    .info span .img {
        width: 25%;
    }
    .info-box span{
        width: 100%;
    }
    .form input {
        width: 100%;
    }

    .contact-info {
        height: 45%;
    }
    .contact-form {
        height: 60%;
    }
    .contact-form form {
        height: 90%;
        width: 100%;
        margin-top: 1rem;
    }
    .contact-info .info-box, .contact-form .form form{
        display: flex;
        flex-direction: column;
        /* flex-wrap: wrap; */
    }
    
}
/* @media (max-width:768px) {
    #menu-btn{
        display: inline-block;
    }
    .header .search-form{
        width: 90%;
    }
    .header .navbar{
        position: absolute;
        top: 110%;
        right: -110%;
        width: 30rem;
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        background: #fff;
    }
    .header .navbar.active{
        right: 2rem;
        transition: .4s linear;
    }
    .header .navbar a{
        font-size: 2rem;
        margin: 2rem 2.5rem;
        display: block;
    }
} */
/* @media screen and (min-width:) and (max-width:729px)  */
/* ----------------------------------- HEADER ----------------------------------- */
